<!DOCTYPE html>
<html>
<head>
<title>Django flatpages - {% block title %} {% endblock title %}</title>
</head><p>Приветствуем Вас на NewsPortal от компании Qiwi</p>
{% block content %}
{% if is_not_authors %}
<button> <a href="sign/become_authors/"> Хочу быть автором!</a> </button>
{% endif %}
<h2>Страница авторизованного пользователя {{request.user.username}}</h2>
<div> Здесь может содержаться персональная информация для каждого пользователя </div>

<button> <a href="/logout">Выйти</a> </button>
{% endblock %}