{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
{% url 'post_list' %}
{% endblock title %}

{% block content %}
<h3>{{ postView.title }}</h3>
<u>{{ postView.created|date:'d-m-Y H:i' }}</u>
<hr>
<div align="left"><a class="nav-link" href="../post_list/post_create{{ postView.pk }}">Редактировать</a></div>
<div align="left"><a class="nav-link" href="../post_list/delete/{{ postView.pk }}">Удалить</a></div>
<hr>
<p align="justify">{{ postView.text }}</p>
{% endblock content %}